{
    "openapi": "3.0.0",
    "info": {
        "title": "Artly API",
        "description": "Artly 예술 플랫폼 REST API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://artly.soundgram.co.kr",
            "description": "Production"
        }
    ],
    "paths": {
        "/api/announcements": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 목록 조회",
                "operationId": "dd0da6bd8ee3ee974d069597a5280c28",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "description": "공고 카테고리 (공모, 프로그램, 채용)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "공고 목록 조회 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "title": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 생성",
                "operationId": "66ada74699cd40ac219edaaf619094c1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "announcement_title": {
                                        "type": "string"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "announcement_poster": {
                                        "type": "string"
                                    },
                                    "announcement_start_datetime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "announcement_end_datetime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "announcement_organizer": {
                                        "type": "string"
                                    },
                                    "announcement_contact": {
                                        "type": "string"
                                    },
                                    "announcement_support_detail": {
                                        "type": "string"
                                    },
                                    "announcement_site_url": {
                                        "type": "string"
                                    },
                                    "announcement_attachment_url": {
                                        "type": "string"
                                    },
                                    "announcement_content": {
                                        "type": "string"
                                    },
                                    "announcement_category": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "공고 생성 완료"
                    }
                }
            }
        },
        "/api/announcements/{id}": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 상세 조회",
                "operationId": "9731bacdb223309c68f608c33417ef99",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "공고 ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "공고 상세 조회 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "announcement_title": {
                                            "type": "string"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        },
                                        "announcement_poster": {
                                            "type": "string"
                                        },
                                        "announcement_start_datetime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "announcement_end_datetime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "announcement_organizer": {
                                            "type": "string"
                                        },
                                        "announcement_contact": {
                                            "type": "string"
                                        },
                                        "announcement_support_detail": {
                                            "type": "string"
                                        },
                                        "announcement_site_url": {
                                            "type": "string"
                                        },
                                        "announcement_attachment_url": {
                                            "type": "string"
                                        },
                                        "announcement_content": {
                                            "type": "string"
                                        },
                                        "announcement_category": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "공고 없음"
                    }
                }
            },
            "put": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 수정",
                "operationId": "a0c6c96228fd02d434e2a1178fbb65f1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "announcement_title": {
                                        "type": "string"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "announcement_poster": {
                                        "type": "string"
                                    },
                                    "announcement_start_datetime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "announcement_end_datetime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "announcement_organizer": {
                                        "type": "string"
                                    },
                                    "announcement_contact": {
                                        "type": "string"
                                    },
                                    "announcement_support_detail": {
                                        "type": "string"
                                    },
                                    "announcement_site_url": {
                                        "type": "string"
                                    },
                                    "announcement_attachment_url": {
                                        "type": "string"
                                    },
                                    "announcement_content": {
                                        "type": "string"
                                    },
                                    "announcement_category": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "공고 수정 완료"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 삭제",
                "operationId": "b8d9c8fe3fbd0a4b1f8fce0c706206b5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "공고 삭제 완료"
                    }
                }
            }
        },
        "/api/arts": {
            "get": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 목록 조회",
                "operationId": "d2d79797d38f1f7b586250b4a71647f5",
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "art_title": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 등록",
                "operationId": "240fcd2aa18be777a4e38a39bbd536e6",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/api/arts/{id}": {
            "get": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 상세 조회",
                "operationId": "6578856d0c4abf31081be8890c74428c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 수정",
                "operationId": "846fb90712902a8ffff9237b91f0aa66",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 삭제",
                "operationId": "1da5bfc8c2549324916788d6c2ed34ab",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted"
                    }
                }
            }
        },
        "/api/artist": {
            "get": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 목록 조회",
                "operationId": "d7880fe118fad58495299585c086b1ff",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "description": "카테고리(all | onExhibition)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "김길동"
                                            },
                                            "field": {
                                                "type": "string",
                                                "example": "회화"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/artists/{id}": {
            "get": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 상세 조회",
                "operationId": "ecb174169178a18e7ddc7a6f945a6c96",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "field": {
                                            "type": "string"
                                        },
                                        "imageUrl": {
                                            "type": "string"
                                        },
                                        "nation": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 수정",
                "operationId": "23969d6de6a813f180f709d0c9bb4046",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "artist_name": {
                                        "type": "string"
                                    },
                                    "artist_category": {
                                        "type": "string"
                                    },
                                    "artist_image": {
                                        "type": "string"
                                    },
                                    "artist_nation": {
                                        "type": "string"
                                    },
                                    "artist_description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "작가 수정 완료"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 삭제",
                "operationId": "2b53b71b5d03914f03797430dca2dcef",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "작가 삭제 완료"
                    }
                }
            }
        },
        "/api/artists": {
            "post": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 생성",
                "operationId": "b8c27b9208ea2bbf7abd765e19c10384",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "artist_name": {
                                        "type": "string"
                                    },
                                    "artist_category": {
                                        "type": "string"
                                    },
                                    "artist_image": {
                                        "type": "string"
                                    },
                                    "artist_nation": {
                                        "type": "string"
                                    },
                                    "artist_description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "작가 생성 완료"
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "로그인",
                "operationId": "7e8d1cdd0a10b6038f92c41d77a0684f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "login_id": {
                                        "type": "string"
                                    },
                                    "login_pwd": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "로그인 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "jwt": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "login_id": {
                                                    "type": "string"
                                                },
                                                "login_pwd": {
                                                    "type": "string"
                                                },
                                                "user_name": {
                                                    "type": "string"
                                                },
                                                "user_gender": {
                                                    "type": "string"
                                                },
                                                "user_age": {
                                                    "type": "integer"
                                                },
                                                "user_email": {
                                                    "type": "string"
                                                },
                                                "user_phone": {
                                                    "type": "string"
                                                },
                                                "user_img": {
                                                    "type": "string"
                                                },
                                                "user_keyword": {
                                                    "type": "string"
                                                },
                                                "admin_flag": {
                                                    "type": "integer"
                                                },
                                                "gallery_id": {
                                                    "type": "integer"
                                                },
                                                "last_login_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "reg_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dttm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "로그인 실패"
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "회원가입",
                "operationId": "52943547effd550959f0546e8b3fb829",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "login_id": {
                                        "type": "string"
                                    },
                                    "login_pwd": {
                                        "type": "string"
                                    },
                                    "user_name": {
                                        "type": "string"
                                    },
                                    "user_gender": {
                                        "type": "string"
                                    },
                                    "user_age": {
                                        "type": "integer"
                                    },
                                    "user_email": {
                                        "type": "string"
                                    },
                                    "user_phone": {
                                        "type": "string"
                                    },
                                    "user_img": {
                                        "type": "string"
                                    },
                                    "user_keyword": {
                                        "type": "string"
                                    },
                                    "admin_flag": {
                                        "type": "integer"
                                    },
                                    "gallery_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "회원가입 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "jwt": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "login_id": {
                                                    "type": "string"
                                                },
                                                "login_pwd": {
                                                    "type": "string"
                                                },
                                                "user_name": {
                                                    "type": "string"
                                                },
                                                "user_gender": {
                                                    "type": "string"
                                                },
                                                "user_age": {
                                                    "type": "integer"
                                                },
                                                "user_email": {
                                                    "type": "string"
                                                },
                                                "user_phone": {
                                                    "type": "string"
                                                },
                                                "user_img": {
                                                    "type": "string"
                                                },
                                                "user_keyword": {
                                                    "type": "string"
                                                },
                                                "admin_flag": {
                                                    "type": "integer"
                                                },
                                                "gallery_id": {
                                                    "type": "integer"
                                                },
                                                "last_login_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "reg_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dttm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "회원가입 실패"
                    }
                }
            }
        },
        "/api/books/{id}": {
            "get": {
                "tags": [
                    "Book"
                ],
                "summary": "도록 상세 조회",
                "operationId": "d0cdb2c8b40f41e1b52fdaf16ddace44",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "book": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "book_title": {
                                                    "type": "string"
                                                },
                                                "book_poster": {
                                                    "type": "string"
                                                },
                                                "exhibition_id": {
                                                    "type": "integer"
                                                },
                                                "create_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "book_pages": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "book_id": {
                                                        "type": "integer"
                                                    },
                                                    "art_id": {
                                                        "type": "integer"
                                                    },
                                                    "book_page_sequence": {
                                                        "type": "integer"
                                                    },
                                                    "book_page_description": {
                                                        "type": "string"
                                                    },
                                                    "create_dtm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "update_dtm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "도록 없음"
                    }
                }
            },
            "put": {
                "tags": [
                    "Book"
                ],
                "summary": "도록 수정",
                "operationId": "884f6cf493d19c8b68c54957c48baf60",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "book_title": {
                                        "type": "string"
                                    },
                                    "book_poster": {
                                        "type": "string"
                                    },
                                    "exhibition_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "수정 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "book_title": {
                                                    "type": "string"
                                                },
                                                "book_poster": {
                                                    "type": "string"
                                                },
                                                "exhibition_id": {
                                                    "type": "integer"
                                                },
                                                "create_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "도록 없음"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Book"
                ],
                "summary": "도록 삭제",
                "operationId": "ebd496572b00c2b7af849b0551c5eff3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "삭제 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "도록 없음 또는 삭제 실패"
                    }
                }
            }
        },
        "/api/books": {
            "post": {
                "tags": [
                    "Book"
                ],
                "summary": "도록 등록",
                "operationId": "76ea4bb15d7c30d133c8c08fbc1b3d42",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "book_title": {
                                        "type": "string"
                                    },
                                    "book_poster": {
                                        "type": "string"
                                    },
                                    "exhibition_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "등록 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "book_title": {
                                                    "type": "string"
                                                },
                                                "book_poster": {
                                                    "type": "string"
                                                },
                                                "exhibition_id": {
                                                    "type": "integer"
                                                },
                                                "create_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/chats": {
            "post": {
                "tags": [
                    "Chat"
                ],
                "summary": "AI 챗봇 대화 요청",
                "operationId": "4badc608de578eeb074eb678dbab9ec5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "text"
                                ],
                                "properties": {
                                    "text": {
                                        "type": "string",
                                        "example": "이번주에 전시회 뭐 볼만한거 있어?"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "AI 챗봇 응답",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "이번주 추천 전시회는 ..."
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exhibitions": {
            "get": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 목록 조회",
                "operationId": "169f9346bbdef82170c9c2e15c40d29d",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "전시회 상태scheduled, exhibited, ended",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "전시회 카테고리",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "exhibition_title": {
                                                "type": "string"
                                            },
                                            "exhibition_category": {
                                                "type": "string"
                                            },
                                            "exhibition_status": {
                                                "type": "string"
                                            },
                                            "create_dttm": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "update_dttm": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 등록",
                "operationId": "6200a8781e1667091dd7dcca18f1f133",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "exhibition_title": {
                                        "type": "string"
                                    },
                                    "exhibition_category": {
                                        "type": "string"
                                    },
                                    "exhibition_status": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "등록 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "exhibition_title": {
                                                    "type": "string"
                                                },
                                                "exhibition_category": {
                                                    "type": "string"
                                                },
                                                "exhibition_status": {
                                                    "type": "string"
                                                },
                                                "create_dttm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dttm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/exhibitions/{id}": {
            "get": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 상세 조회",
                "operationId": "0138500389c02641843a2eb219122d24",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "exhibition_title": {
                                            "type": "string"
                                        },
                                        "exhibition_category": {
                                            "type": "string"
                                        },
                                        "exhibition_status": {
                                            "type": "string"
                                        },
                                        "create_dttm": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "update_dttm": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "전시회 없음"
                    }
                }
            },
            "put": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 수정",
                "operationId": "81e03364d2bddddee679668aed507026",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "exhibition_title": {
                                        "type": "string"
                                    },
                                    "exhibition_category": {
                                        "type": "string"
                                    },
                                    "exhibition_status": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "수정 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "exhibition_title": {
                                                    "type": "string"
                                                },
                                                "exhibition_category": {
                                                    "type": "string"
                                                },
                                                "exhibition_status": {
                                                    "type": "string"
                                                },
                                                "create_dttm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dttm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "전시회 없음"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 삭제",
                "operationId": "0942ce95151d9395e6ca4a61df5f2934",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "삭제 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "전시회 없음 또는 삭제 실패"
                    }
                }
            }
        },
        "/api/galleries": {
            "get": {
                "tags": [
                    "Gallery"
                ],
                "summary": "갤러리 목록 조회",
                "operationId": "88a0bdabcfc295c26157b15e704733e4",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "exhibited",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "regions",
                        "in": "query",
                        "description": "(서울/경기,인천/부산,울산,경남) 여러 지역일 경우 콤마로 구분",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "미술관/박물관/갤러리/복합문화공간/대안공간",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "distance",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "조회 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "image": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Gallery"
                ],
                "summary": "갤러리 생성",
                "operationId": "d8d6100b9b82f4c5aaed6ffb3153cd7a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "gallery_name": {
                                        "type": "string"
                                    },
                                    "gallery_image": {
                                        "type": "string"
                                    },
                                    "gallery_address": {
                                        "type": "string"
                                    },
                                    "gallery_start_time": {
                                        "type": "string"
                                    },
                                    "gallery_end_time": {
                                        "type": "string"
                                    },
                                    "gallery_closed_day": {
                                        "type": "string"
                                    },
                                    "gallery_category": {
                                        "type": "string"
                                    },
                                    "gallery_description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "갤러리 생성 완료"
                    }
                }
            }
        },
        "/api/galleries/{id}": {
            "get": {
                "tags": [
                    "Gallery"
                ],
                "summary": "갤러리 상세 조회",
                "operationId": "95dc8045bc1a824172cadb32a21660a8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "상세 조회 성공"
                    },
                    "404": {
                        "description": "갤러리 없음"
                    }
                }
            },
            "put": {
                "tags": [
                    "Gallery"
                ],
                "summary": "갤러리 수정",
                "operationId": "d0f75cfd8e042d2ebe2b08adf2bda306",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "gallery_name": {
                                        "type": "string"
                                    },
                                    "gallery_image": {
                                        "type": "string"
                                    },
                                    "gallery_address": {
                                        "type": "string"
                                    },
                                    "gallery_start_time": {
                                        "type": "string"
                                    },
                                    "gallery_end_time": {
                                        "type": "string"
                                    },
                                    "gallery_closed_day": {
                                        "type": "string"
                                    },
                                    "gallery_category": {
                                        "type": "string"
                                    },
                                    "gallery_description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "갤러리 수정 완료"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Gallery"
                ],
                "summary": "갤러리 삭제",
                "operationId": "2635d72f0a79c6e243491d6517ca5b67",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "갤러리 삭제 완료"
                    }
                }
            }
        },
        "/api/likes": {
            "post": {
                "tags": [
                    "Like"
                ],
                "summary": "좋아요 생성",
                "operationId": "e96a07e2ff39fba28be4bda617aefe89",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "liked_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "liked_type": {
                                        "description": "좋아요 대상의 타입: gallery, exhibition, artist 중 하나",
                                        "type": "string",
                                        "enum": [
                                            "gallery",
                                            "exhibition",
                                            "artist"
                                        ],
                                        "example": "exhibition"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "좋아요 생성 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "정상적으로 등록되었습니다."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "좋아요 생성 실패"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Like"
                ],
                "summary": "좋아요 삭제",
                "operationId": "51fe824e4ebe45ed41f6f34372f1387f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "liked_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "liked_type": {
                                        "type": "string",
                                        "enum": [
                                            "gallery",
                                            "exhibition",
                                            "artist"
                                        ],
                                        "example": "exhibition"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "좋아요 삭제 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "정상적으로 삭제되었습니다."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "좋아요 삭제 실패"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/reservations": {
            "post": {
                "tags": [
                    "Reservation"
                ],
                "summary": "전시회 예매 등록",
                "operationId": "f391f7727b61189361dea40a5f9f067e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "exhibition_id",
                                    "session_id",
                                    "number_of_tickets",
                                    "payment_method",
                                    "total_price"
                                ],
                                "properties": {
                                    "exhibition_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "session_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "number_of_tickets": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "payment_method": {
                                        "type": "string",
                                        "example": "credit_card"
                                    },
                                    "total_price": {
                                        "type": "integer",
                                        "example": 20000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "예약 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "예약이 완료되었습니다."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "입력 누락"
                    },
                    "500": {
                        "description": "예약 실패"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/reservations/{id}": {
            "delete": {
                "tags": [
                    "Reservation"
                ],
                "summary": "전시회 예매 취소",
                "operationId": "5206c75929f439476cd978f6fb7adef4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "예약 ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "예약 취소 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "예약이 취소되었습니다."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "예약 찾을 수 없음"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/search": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "검색 결과 조회",
                "operationId": "58a7163b32cf8bfa6623c2052dd863d1",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "검색단어",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "exhibitions": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "exhibition_title": {
                                                        "type": "string"
                                                    },
                                                    "exhibition_poster": {
                                                        "type": "string"
                                                    },
                                                    "exhibition_category": {
                                                        "type": "string"
                                                    },
                                                    "exhibition_start_date": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "exhibition_end_date": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "exhibition_start_time": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "exhibition_end_time": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "exhibition_location": {
                                                        "type": "string"
                                                    },
                                                    "exhibition_price": {
                                                        "type": "integer"
                                                    },
                                                    "gallery_id": {
                                                        "type": "integer"
                                                    },
                                                    "exhibition_tag": {
                                                        "type": "string"
                                                    },
                                                    "exhibition_status": {
                                                        "type": "string"
                                                    },
                                                    "create_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "update_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "galleries": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "gallery_name": {
                                                        "type": "string"
                                                    },
                                                    "gallery_image": {
                                                        "type": "string"
                                                    },
                                                    "gallery_address": {
                                                        "type": "string"
                                                    },
                                                    "gallery_start_time": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "gallery_end_time": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "gallery_closed_day": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "gallery_category": {
                                                        "type": "string"
                                                    },
                                                    "gallery_description": {
                                                        "type": "string"
                                                    },
                                                    "create_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "update_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "artists": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "artist_image": {
                                                        "type": "string"
                                                    },
                                                    "artist_name": {
                                                        "type": "string"
                                                    },
                                                    "artist_category": {
                                                        "type": "string"
                                                    },
                                                    "artist_nation": {
                                                        "type": "string"
                                                    },
                                                    "artist_description": {
                                                        "type": "string"
                                                    },
                                                    "create_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "update_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "announcements": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "user_id": {
                                                        "type": "integer"
                                                    },
                                                    "announcement_title": {
                                                        "type": "string"
                                                    },
                                                    "announcement_poster": {
                                                        "type": "string"
                                                    },
                                                    "announcement_start_datetime": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "announcement_end_datetime": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "announcement_organizer": {
                                                        "type": "string"
                                                    },
                                                    "announcement_contact": {
                                                        "type": "string"
                                                    },
                                                    "announcement_support_detail": {
                                                        "type": "string"
                                                    },
                                                    "announcement_site_url": {
                                                        "type": "string"
                                                    },
                                                    "announcement_attachment_url": {
                                                        "type": "string"
                                                    },
                                                    "content": {
                                                        "type": "string"
                                                    },
                                                    "create_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "update_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/exhibitions/{id}/sessions": {
            "get": {
                "tags": [
                    "Reservation"
                ],
                "summary": "전시회 세션 목록 조회 (특정 날짜)",
                "operationId": "aa5b59d384538236ed6c7c54a235657b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "전시회 ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "조회할 날짜 (YYYY-MM-DD)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "세션 목록 조회 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "session_id": {
                                                "type": "integer",
                                                "example": 5
                                            },
                                            "time": {
                                                "type": "string",
                                                "example": "10:00"
                                            },
                                            "available_capacity": {
                                                "type": "integer",
                                                "example": 20
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "날짜를 입력하지 않은 경우"
                    }
                }
            }
        },
        "/api/users/me": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "마이페이지",
                "operationId": "af61a78591741e7d995ab6d7da4e45c4",
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "login_id": {
                                            "type": "string"
                                        },
                                        "login_pwd": {
                                            "type": "string"
                                        },
[...]
